name: Release App

on:
  push:
    tags:
      - 'v*' # Se activa cuando creas un tag como v1.0.0

jobs:
  build-tauri:
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        platform: [windows-latest, ubuntu-22.04] # Construye para Windows y Linux

    runs-on: ${{ matrix.platform }}

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install Dependencies (Ubuntu)
        if: matrix.platform == 'ubuntu-22.04'
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev libwebkit2gtk-4.0-dev libappindicator3-dev librsvg2-dev patchelf

      - name: Install Frontend Dependencies
        run: npm install

      - name: Build Tauri App
        uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # AQUÍ PONES TU API REAL PARA QUE QUEDE EN EL EXE
          VITE_API_URL: https://clicktools.cl 
        with:
          tagName: app-v__VERSION__ 
          releaseName: "BillPro v__VERSION__"
          releaseBody: "Nueva actualización del sistema POS."
          releaseDraft: true
          prerelease: false
